body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
}

canvas {
	top: 0;
	left: 0;
	width: 1px !important;
	height: 1px !important;
	position: absolute;
}

h2 {
	text-align: center;
}

#notif {
	background-color: black;
	color: white;
	min-height: 1em;
	position: absolute;
	top: 8px;
	right: 0px;
	pointer-events: none;
	padding: 8px;
	padding-right: 32px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;

	&:empty {
		visibility: hidden;
	}
}



#site {
	display: grid;
	grid-template-rows: min-content auto;
	gap: 8px;
	overflow: hidden;
	width: fit-content;

	height: 100vh;
	padding: 4px;
	box-sizing: border-box;

	#menu {
		display: flex;
		gap: 4px;

		select {
			border: 1px solid black;
			padding: 0.3em;
			min-width: 200px;
			cursor: pointer;
		}

		.start {
			width: 10px;
			background-color: lightgray;
		}
		.filler {
			flex: 1 0 auto;
			background-color: lightgray;
		}
	}

	.columns {
		display: grid;
		gap: 4px;
		grid-auto-flow: column;
		grid-auto-columns: 500px;

		overflow: hidden;
	}

	.column {
		display: grid;
		grid-template-rows: min-content 1fr;
		gap: 8px;
		width: 500px;
		overflow-y: auto;
	}

	.column+.column {
		padding-left: 4px;
		border-left: 1px dashed gray;
		box-sizing: border-box;
	}


	@media (max-width:500px) {
		margin: 0;
		border: none;

		.columns {
			grid-auto-columns: auto;
			.column {
				width: auto;
			}
		}

		.output {
			font-size: 13pt;
		}
	}
}

.toolbar {
	display: flex;
	flex-wrap: wrap;

	.row {
		display: flex;
		flex-wrap: nowrap;
		flex: 1 0 100%;

		&>* {
			padding: 1em 0.5em;
		}
		&.small>* {
			padding: 4px 0.5em;
		}
	}
	.row+.row {
		margin-top: 4px;
		padding-top: 4px;
		border-top: 1px dotted gray;
	}

	button {
		flex: 1 0 0px;
		margin: 1px;
		padding: 1em 0.5em;
		color: gray;
		text-transform: uppercase;
		white-space: nowrap;

		&.small {
			flex: 0 0 0px;
		}

		&:disabled {
			opacity: 0.5;
			border: 1px solid lightgray;
		}
		&:not(:disabled) {
			border: 1px solid lightgray;
			border-bottom: 2px solid lightgray;
			cursor: pointer;
		}

		&:hover:not(:disabled) {
			color: white;
			background-color: gray;
			border-color: black;
		}
	}
}

.buttons {
	display: flex;
}

#site .column.random {
	.output {
		overflow: auto;
		padding: 16px;
		font-size: 12pt;
		border: 1px solid lightgray;

		.entry {
			pre {
				margin: 0;
				white-space: pre-wrap;
				font-family: Arial, Helvetica, sans-serif;
				&:first-of-type {
					font-weight: bold;
				}
			}
		}

		.entry+.entry {
			padding-top: 10px;
			margin-top: 10px;
			border-top: 1px dashed gray;
		}
	}

	.errors {
		border: 1px dashed red;
		padding: 8px;
		max-height: 100px;
		overflow-y: auto;
		background-color: #ffcccc;

		&:empty {
			display: none;
		}

		pre {
			margin: 0;
			color: red;
			font-weight: bold;
		}
	}
}

#site .column.editor {
	grid-template-rows: min-content 1fr min-content;
}